mixin history

  - 
    var positions = 
      [
        { 
          title: 'Senior Software Developer', 
          company: 'TD Ameritrade', 
          start: 'October 2016', 
          end: 'present',
          tasks: [
            'Developer on new Order Management System responsible for all retail trades capable of processing thousands of orders per second across a 320-node system',
            'Lead on new Exchange Traded Funds project responsible for coordinating efforts with other teams and designing implementation within order management system',
            'Responsible for providing technical guidance to junior developers'
          ]
        },
        { 
          title: 'Systems Engineer', 
          company: 'Union Pacific Railroad', 
          start: 'September 2013', 
          end: 'October 2016',
          tasks: [
            'Technical Lead for Customer Experience team which involved leading code reviews, setting programming standards and best-practices',
            'Implemented and maintains heaviest-hit customer-facing application with 1 million hits per month',
            'Created project for proof of concept use of Angular at Union Pacific and developed one of the first customer-facing Angular applications',
            'Piloted JIRA as ticketing tool which lead to the adoption of it',
            'Teaches Java fundamentals class to newly-hired developers',
            'Created and maintained Kanban board for the tracking of enhancements and defects'
          ]
        },
        { 
          title: 'Associate Systems Engineer', 
          company: 'Union Pacific Railroad', 
          start: 'April 2011', 
          end: 'September 2013',
          tasks: [
            'Used Agile methodologies including sprint planning and backlog creation',
            'Wrote back-end Java code using frameworks such as Spring, Hibernate, Ehcache and Quartz',
            'Created front-end pages with Wicket and custom JavaScript using jQuery',
            'Initiated use of code quality (SonarQube) and code review (Crucible) tools',
            'Planned and estimated projects and sprints using Agile methodology and VersionOne',
            'Worked with customers to assemble requirements, receive feedback, and ensure satisfaction',
            'Created map portlet (GIS) and converted old portlets for use in Liferay portal'
          ]
        },
        { 
          title: 'Senior Project Engineer', 
          company: 'Union Pacific Railroad', 
          start: 'July 2009', 
          end: 'April 2011',
          tasks: [
            'Designed and created job-centric portals using Oracle Portal with other business areas',
            'Designed and developed front-end using JPDK portlets, the jQuery framework and AJAX',
            'Maintained code through JSLint and JSUnit testing',
            'Received feedback from field employees and updated portals as required'
          ]
        },
        { 
          title: 'Project Engineer', 
          company: 'Union Pacific Railroad', 
          start: 'July 2005', 
          end: 'July 2009',
          tasks: [
            'Primary developer of employee portal used by entire operations workforce of around 11,000',
            'Integrated into Oracle Portal different technologies including messaging, proxying and HTTP',
            'Designed and developed front-end using JPDK portlets, the jQuery framework and AJAX',
            'Maintained code through JSLint and JSUnit testing',
            'Managed on- and off-shore developers including assigning work and daily video-conferences',
            'Worked with Human Factors team to design user-friendly interfaces'
          ]
        },
        { 
          title: 'Senior Application Developer', 
          company: 'Union Pacific Railroad', 
          start: 'April 2002', 
          end: 'July 2005',
          tasks: [
            'Worked with customers on design of new web-based application for simulation of cost saving routes for cargo',
            'Implemented said application using emerging and established technologies including Java Enterprise Edition (J2EE), EJB, Weblogic, JMS with TIBCO, JSTL and JSP',
            'Provided input on front-end Java frameworks to be used company-wide'
          ]
        },
        { 
          title: 'Application Developer', 
          company: 'Union Pacific Railroad', 
          start: 'January 2001', 
          end: 'April 2002',
          tasks: [
            'Maintained Visual Basic app used in the forecast of business with downstream integration into other systems like asset management',
            'Designed, developed and tested graphical user interface for new customer requests',
            'Wrote and maintained stored procedures'
          ]
        },
        { 
          title: 'Associate Application Developer', 
          company: 'Union Pacific Railroad', 
          start: 'March 2000', 
          end: 'January 2001',
          tasks: [
            'Increased productivity with automated Excel spreadsheets',
            'Designed, developed and tested forecasting tool with Excel spreadsheets'
          ]
        },
        { 
          title: 'Contractor', 
          company: 'Paradigm Solutions', 
          start: 'August 2000', 
          end: 'June 2001',
          tasks: [
            'Converted legacy Visual Basic code to MS SQL Server stored procedures',
            'Supported web site with new Javascript code'
          ]
        },
        { 
          title: 'System Test Engineer', 
          company: 'Lucent Technologies', 
          start: 'June 1999', 
          end: 'November 1999',
          tasks: [
            'Physically tested prototype fiber optic transmission blades including inserting and removing blades from rack to rack and rewiring with optical cable',
            'Troubleshot possible causes for test failures',
            'Created and maintained test plans',
            'Automated testing with scripts and thus increasing productivity'
          ]
        },
        {
          title: 'Teaching Intern for EE Communication Systems class',
          company: 'Pennsylvania State University',
          start: 'August 1998',
          end: 'January 1999',
          tasks: [
            'Aided students with the retention of material by holding weekly office hours and supplemental instruction sessions',
            'Designed and implemented class web page',
            'Taught lectures and proctored tests'
          ]
        },
        {
          title: 'Java Programmer (internship)',
          company: 'Lockheed Martin Federal Systems',
          start: 'May 1998',
          end: 'August 1998',
          tasks: [
            'Designed and developed new graphical user interface for error reporting system using Java and Java “Swing” components',
            'Helped connect GUI to Oracle database for the retrieval, addition and updating of reports',
            'Evaluated Oracle Developer/2000 tool for creating user forms'
          ]
        },
        {
          title: 'Failure Analysist (internship)',
          company: 'Lockheed Martin Federal Systems',
          start: 'August 1977',
          end: 'December 1977',
          tasks: [
            'Performed failure analysis on integrated circuits which included testing chips and wafers, identifying failure mechanisms and reporting findings through electronic media and presentations',
            'Created template for failure analysis reports to increase efficiency',
            'Planned and implemented project to digitize reports',
            'Trained personnel in documentation procedures'
          ]
        }
      ]
  
  .row
    .col-md-8
      ul.vcalendar
        each position, index in positions
          li.experience.vevent.position
            //if position.title.indexOf(prevTitle) < 0
            - var prevTitle = position.title
            span.summary.jobtitle= position.title
            span.location.employer= position.company
            abbr.dtstart= position.start 
            |  - 
            abbr.dtend= position.end
            ul
              each task in position.tasks
                li= task

    .col-md-4.quote-container
      .quote
        p Adam has a strong and diverse technical skill set. He is passionate and able to learn new technology with ease.
        
  .row
    .col-md-12
      .github-view-source-link View 
        a(href="https://github.com/aakoch/aakoch.github.com/blob/gh-pages/app/pug/history.pug") the source
        |  for this page!